/node_modules
/public/hot
/storage/*.key
/vendor/*
!/vendor/laravel-admin-ext
!/vendor/spatie
!/vendor/encore
!/vendor/biscolab
!/public/storage/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
