.navbar-header {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 91px;
    -webkit-box-align: center;
}

.menu-hamburger-header{
    display: none;
}

.navbar-logo-header{
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 16px;
    font-size: 20px;
    line-height: inherit;
    white-space: nowrap;
}

/* .navbar-logo {
    display: none;
} */

@media (max-width: 760px) {
    .navbar-header {
        width: 100%;
        height: 75px;
        position: absolute;
        z-index: 99999;
    }

    .menu-hamburger-header {
        height: 100%;
        width: 70px;
        background-color: #0F2B5B;
        position: absolute;
        left: 0;
        display: block;
    }

    .navbar-logo {
        background-image: url("../asset/menu-24px.svg");
    }
}