<div class="container">
<div class="row">
<div class="col-sm-6" id="navbar-upper-text">
<h4 class="mt-5" style="box-sizing: border-box; margin-bottom: 0.5rem; font-family: inherit; font-weight: 500; line-height: 1.2; color: #0f2b5b; font-size: 1.5rem; margin-top: 3rem !important;"><span style="box-sizing: border-box; font-weight: bolder;">Budaya Kerja Bank Mandiri Taspen&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="box-sizing: border-box; font-weight: bolder;"></span></h4>
<h4 class="mt-3" style="box-sizing: border-box; margin-bottom: 0.5rem; font-family: inherit; font-weight: 500; line-height: 1.2; color: #0f2b5b; font-size: 1.5rem; margin-top: 1rem !important;">Nilai Budaya Perusahaan</h4>
<ul style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #212529; font-family: Roboto, sans-serif; font-size: 16px; font-weight: 400;">
<li style="box-sizing: border-box;"><span style="box-sizing: border-box; font-weight: bolder;">Tangguh</span>&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;<span style="box-sizing: border-box;">Pantang Menyerah, Adaptif dan Pembelajar</span></li>
<li style="box-sizing: border-box;"><span style="box-sizing: border-box; font-weight: bolder;">Optimal&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;<span style="box-sizing: border-box;">Memberi hasil yang terbaik</span></li>
<li style="box-sizing: border-box;"><span style="box-sizing: border-box; font-weight: bolder;">Profesional</span>&nbsp;: Kompeten dan dapat dipercaya</li>
<li style="box-sizing: border-box;"><span style="box-sizing: border-box; font-weight: bolder;">Peduli&nbsp;&nbsp;</span>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : Melayani dengan hati</li>
</ul>
</div>
<div class="col-sm-5"><img id="img-navbar-temp" src="/storage/images/navbar-konten/FjyfMD3G01zVX5jZlE5KLimfNr2k8xkvWgLRAsPs.png" alt="Logo" width="550px" style="left: 686px; height: 360px; margin-bottom: 8%;" class="img-responsive" /></div>
</div>
<div class="row">
<div class="col-sm-12 mt-5">
<h4 class="mt-5" style="box-sizing: border-box; margin-bottom: 0.5rem; font-family: inherit; font-weight: 500; line-height: 1.2; color: #0f2b5b; font-size: 1.5rem; margin-top: 3rem !important;"><span style="box-sizing: border-box; font-weight: bolder;">Budaya Kerja&nbsp;</span></h4>
<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #212529; font-family: Roboto, sans-serif; font-size: 16px; font-weight: 400;">Amanah : memegang teguh kepercayaan yang diberikan</p>
<ul style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #212529; font-family: Roboto, sans-serif; font-size: 16px; font-weight: 400;">
<li style="box-sizing: border-box;">Memenuhi janji dan komitmen</li>
<li style="box-sizing: border-box;">Bertanggungjawab atas tugas, keputusan dan tindakan yang dilakukan</li>
<li style="box-sizing: border-box;">Berpegang teguh pada nilai moral dan etika</li>
</ul>
<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #212529; font-family: Roboto, sans-serif; font-size: 16px; font-weight: 400;">Kompeten : Terus belajar dan mengembangkan kapabilitas</p>
<ul style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #212529; font-family: Roboto, sans-serif; font-size: 16px; font-weight: 400;">
<li style="box-sizing: border-box;">Meningkatkan kompetensi diri untuk menjawab tantangan yang selalu berubah</li>
<li style="box-sizing: border-box;">Membantu orang lain belajar</li>
<li style="box-sizing: border-box;">Menyelesaikan tugas dengan kualitas terbaik</li>
</ul>
<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #212529; font-family: Roboto, sans-serif; font-size: 16px; font-weight: 400;">Harmonis : Saling peduli dan menghargai perbedaan</p>
<ul style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #212529; font-family: Roboto, sans-serif; font-size: 16px; font-weight: 400;">
<li style="box-sizing: border-box;">Menghargai setiap orang apapun latar belakangnya</li>
<li style="box-sizing: border-box;">Suka menolong orang</li>
<li style="box-sizing: border-box;">Membangun lingkungan kerja yang kondusif</li>
</ul>
<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #212529; font-family: Roboto, sans-serif; font-size: 16px; font-weight: 400;">Loyal : Berdedikasi dan mengutamakan kepentingan bangsa dan negara</p>
<ul style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #212529; font-family: Roboto, sans-serif; font-size: 16px; font-weight: 400;">
<li style="box-sizing: border-box;">Menjaga nama baik sesama karyawan, pimpinan, BUMN dan Negara</li>
<li style="box-sizing: border-box;">Rela berkorban untuk mencapai tujuan yang lebih besar</li>
<li style="box-sizing: border-box;">Patuh kepada pemimpin sepanjang tidak bertentangan dengan hukum dan etika</li>
</ul>
<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #212529; font-family: Roboto, sans-serif; font-size: 16px; font-weight: 400;">Adaptif : Terus berinovasi dan antusias dalam menggerakkan ataupun menghadapi perubahan</p>
<ul style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #212529; font-family: Roboto, sans-serif; font-size: 16px; font-weight: 400;">
<li style="box-sizing: border-box;">Cepat menyesuaikan diri untuk menjadi lebih baik</li>
<li style="box-sizing: border-box;">Terus-menerus melakukan perbaikan mengikuti perkembangan teknologi</li>
<li style="box-sizing: border-box;">Bertindak positif</li>
</ul>
<p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #212529; font-family: Roboto, sans-serif; font-size: 16px; font-weight: 400;">Kolaboratif : Membangun kerja sama yang sinergis</p>
<ul style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; color: #212529; font-family: Roboto, sans-serif; font-size: 16px; font-weight: 400;">
<li style="box-sizing: border-box;">Memberikan kesempatan kepada berbagai pihak untuk berkontribusi</li>
<li style="box-sizing: border-box;">Terubuka dalam bekerja sama untuk menghasilkan nilai tambah</li>
<li style="box-sizing: border-box;">Menggerakkan pemanfaatan berbagai sumber daya untuk tujuan bersama</li>
</ul>
</div>
</div>
</div>
