<?php

<div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h4 class="mt-5 text-dark"><strong>Apapun kebutuhan Anda,<br/>wujudkan dengan Kredit Mantap Pensiun</strong></h4>

                <small>
                    Nikmati berbagai keuntungan menjadi nasabah pensiun</br>
                    Bank Mantap dan dapatkan </small><small style="color:#0F2B5B;"><strong>Kredit Pensiun Mantap</small></small>
                    <small> untuk</br>kemudahaan dan kenyamanan usaha Anda.</small>

                    <h4 class="mt-5"><strong>Tiada Kata Pensiun Untuk Berkarya</strong></h4>

            </div>

            <div class="col-sm-5">
                <img src="asset/pic_content_2.png"  alt="Logo" width="550px" style="left: 686px; height: 360px; margin-bottom:8%;">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <h4>Kredit Mantap Pensiun</h4>
                <p><small>Manfaat kesempatan untuk terus berkarya dan mewujudkan rencana anda kedepan melalui</small> <small style="color:#0F2B5B;"><strong>Kredit Pensiun Bank Mantap</small><small>.Kami<br/>
                    memberikan fasilitas kredit dengan bunga kompetitif, persyaratan mudah, dan pelayanan cepat dengan plafon maksimal</small>  <small style="color:#0F2B5B;"><strong>Rp. 350.000.000, -</strong></small><small> dan jangka waktu maksimal</small><small style="color:#0F2B5B;"><strong>15 tahun.</small></p>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <h4 class="mt-4">Persyaratan</h4><hr/>
                <small>1.&nbsp;&nbsp;&nbsp;Asli SK Pensiunan</small><br/>
                <small>2.&nbsp;&nbsp;&nbsp;Kartu Identitas Pensiun (Karip/Buku Asabri)</small><br/>
                <small>3.&nbsp;&nbsp;&nbsp;Usian saat jangka waktu kredit berakhir maksimal 75 tahun</small><br/>
                <small>4.&nbsp;&nbsp;&nbsp;Fotokopi KTP suami/istri, surat nikah, kartu keluarga & NPWP</small><br/>
            </div>
        </div>


        <div class="row">

            <div class="col-sm-12">
                <h4 class="mt-4">Biaya - Biaya</h4><hr/>
                <small style="color:#0F2B5B;"><strong>Provisi</strong></small><small class="ml-5">&nbsp;&nbsp;&nbsp;: 1% dari plafon*</small><br/>
                <small style="color:#0F2B5B;"><strong>Administrasi</strong></small><small class="ml-4"> : Bebas Biaya*</small><br/>
                <small style="color:#0F2B5B;"><strong>Asuransi</strong></small><small class="ml-5"> : Asuransi Jiwa*</small><br/>
                <p class="mt-4"><i><small>Segera hubungi Account Officer Pension Bank Mantap atau kunjungi Kantor Cabang Bank Mantap terdekat</small></i></p>
            </div>
        </div>

       <!--  <div class="row"> -->
       <!--      <div class="col-sm-12"> -->
       <!--          <h4 class="mt-5">Frequently Asked & Question (FAQ) “Produk Kredit Mantap Pensiun (KMP)”</h4> -->

       <!--          <div class="accordion-started accordion-bral row"> -->
       <!--              <div class="col-sm-12 col-md-12 col-lg-12"> -->
       <!--                  <details class="ac-input" open> -->
       <!--                      <summary class="sum-color">1. Epcot Center</summary> -->
       <!--                      <small style="font-style: italic;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit sunt praesentium perspiciatis? Incidunt consectetur ducimus eius quod soluta labore blanditiis harum sit perspiciatis, ratione tempora, obcaecati voluptatem eaque, corrupti esse.</small> -->
       <!--                  </details> -->
       <!--              </div> -->
       <!--          </div> -->

       <!--          <div class="accordion-started accordion-bral row"> -->
       <!--              <div class="col-sm-12 col-md-12 col-lg-12"> -->
       <!--                  <details class="ac-input" open> -->
       <!--                      <summary class="sum-color">2. Epcot Center</summary> -->
       <!--                      <small style="font-style: italic;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit sunt praesentium perspiciatis? Incidunt consectetur ducimus eius quod soluta labore blanditiis harum sit perspiciatis, ratione tempora, obcaecati voluptatem eaque, corrupti esse.</small> -->
       <!--                  </details> -->
       <!--              </div> -->
       <!--          </div> -->
       <!--          <div class="accordion-started accordion-bral row"> -->
       <!--              <div class="col-sm-12 col-md-12 col-lg-12"> -->
       <!--                  <details class="ac-input" open> -->
       <!--                      <summary class="sum-color">3. Epcot Center</summary> -->
       <!--                      <small style="font-style: italic;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit sunt praesentium perspiciatis? Incidunt consectetur ducimus eius quod soluta labore blanditiis harum sit perspiciatis, ratione tempora, obcaecati voluptatem eaque, corrupti esse.</small> -->
       <!--                  </details> -->
       <!--              </div> -->
       <!--          </div> -->
       <!--          <div class="accordion-started accordion-bral row"> -->
       <!--              <div class="col-sm-12 col-md-12 col-lg-12"> -->
       <!--                  <details class="ac-input" open> -->
       <!--                      <summary class="sum-color">4. Epcot Center</summary> -->
       <!--                      <small style="font-style: italic;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit sunt praesentium perspiciatis? Incidunt consectetur ducimus eius quod soluta labore blanditiis harum sit perspiciatis, ratione tempora, obcaecati voluptatem eaque, corrupti esse.</small> -->
       <!--                  </details> -->
       <!--              </div> -->
       <!--          </div> -->
       <!--          <div class="accordion-started accordion-bral row"> -->
       <!--              <div class="col-sm-12 col-md-12 col-lg-12"> -->
       <!--                  <details class="ac-input" open> -->
       <!--                      <summary class="sum-color">5. Epcot Center</summary> -->
       <!--                      <small style="font-style: italic;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit sunt praesentium perspiciatis? Incidunt consectetur ducimus eius quod soluta labore blanditiis harum sit perspiciatis, ratione tempora, obcaecati voluptatem eaque, corrupti esse.</small> -->
       <!--                  </details> -->
       <!--              </div> -->
       <!--          </div> -->
       <!--          <div class="accordion-started accordion-bral row"> -->
       <!--              <div class="col-sm-12 col-md-12 col-lg-12"> -->
       <!--                  <details class="ac-input" open> -->
       <!--                      <summary class="sum-color">6. Epcot Center</summary> -->
       <!--                      <small style="font-style: italic;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit sunt praesentium perspiciatis? Incidunt consectetur ducimus eius quod soluta labore blanditiis harum sit perspiciatis, ratione tempora, obcaecati voluptatem eaque, corrupti esse.</small> -->
       <!--                  </details> -->
       <!--              </div> -->
       <!--          </div> -->
       <!--          <div class="accordion-started accordion-bral row"> -->
       <!--              <div class="col-sm-12 col-md-12 col-lg-12"> -->
       <!--                  <details class="ac-input" open> -->
       <!--                      <summary class="sum-color">7. Epcot Center</summary> -->
       <!--                      <small style="font-style: italic;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit sunt praesentium perspiciatis? Incidunt consectetur ducimus eius quod soluta labore blanditiis harum sit perspiciatis, ratione tempora, obcaecati voluptatem eaque, corrupti esse.</small> -->
       <!--                  </details> -->
       <!--              </div> -->
       <!--          </div> -->
       <!--          <div class="accordion-started accordion-bral row"> -->
       <!--              <div class="col-sm-12 col-md-12 col-lg-12"> -->
       <!--                  <details class="ac-input" open> -->
       <!--                      <summary class="sum-color">8. Epcot Center</summary> -->
       <!--                      <small style="font-style: italic;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit sunt praesentium perspiciatis? Incidunt consectetur ducimus eius quod soluta labore blanditiis harum sit perspiciatis, ratione tempora, obcaecati voluptatem eaque, corrupti esse.</small> -->
       <!--                  </details> -->
       <!--              </div> -->
       <!--          </div> -->
       <!--          <div class="accordion-started accordion-bral row"> -->
       <!--              <div class="col-sm-12 col-md-12 col-lg-12"> -->
       <!--                  <details class="ac-input" open> -->
       <!--                      <summary class="sum-color">9. Epcot Center</summary> -->
       <!--                      <small style="font-style: italic;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit sunt praesentium perspiciatis? Incidunt consectetur ducimus eius quod soluta labore blanditiis harum sit perspiciatis, ratione tempora, obcaecati voluptatem eaque, corrupti esse.</small> -->
       <!--                  </details> -->
       <!--              </div> -->
       <!--          </div> -->
       <!--          <div class="accordion-started accordion-bral row"> -->
       <!--              <div class="col-sm-12 col-md-12 col-lg-12"> -->
       <!--                  <details class="ac-input" open> -->
       <!--                      <summary class="sum-color">10. Epcot Center</summary> -->
       <!--                      <small style="font-style: italic;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit sunt praesentium perspiciatis? Incidunt consectetur ducimus eius quod soluta labore blanditiis harum sit perspiciatis, ratione tempora, obcaecati voluptatem eaque, corrupti esse.</small> -->
       <!--                  </details> -->
       <!--              </div> -->
       <!--          </div> -->


       <!--     </div><\!-- col-sm-12 -\-> -->
       <!-- </div><\!-- row -\-> -->
</div><!-- coontainer -->
