<h4 style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0.5rem; font-family: Roboto, sans-serif; font-weight: 500; line-height: 1.2; color: #0f2b5b; font-size: 1.5rem;">Pemegang Saham</h4>
<p class="mb-5" style="box-sizing: border-box; margin-top: 0px; color: #212529; font-family: Roboto, sans-serif; font-size: 16px; margin-bottom: 3rem !important;"><small style="box-sizing: border-box; font-size: 12.8px;">Komposisi Pemegang Saham</small></p>
<div style="overflow-y: auto;">
<table id="tbl-pemegang-saham" style="border-collapse: collapse; margin-bottom: 277.5px; font-size: 14px; box-shadow: rgba(0, 0, 0, 0.08) 0px 20px 40px; border-radius: 16px; color: #212529; font-family: Roboto, sans-serif;">
<thead style="box-sizing: border-box;">
<tr style="box-sizing: border-box;">
<th style="box-sizing: border-box; text-align: center; height: 60px; color: #0f2b5b; background-color: #fcd116; border-radius: 16px 0px 0px;">Nama Pemegang Saham (Owner)</th>
<th style="box-sizing: border-box; text-align: center; height: 60px; color: #0f2b5b; background-color: #fcd116;">Jumlah Saham (Lembar)</th>
<th style="box-sizing: border-box; text-align: center; height: 60px; color: #0f2b5b; background-color: #fcd116;">Prosentase (%)</th>
<th style="box-sizing: border-box; text-align: center; height: 60px; color: #0f2b5b; background-color: #fcd116; border-radius: 0px 16px 0px 0px;">Pengendali</th>
</tr>
</thead>
<tbody style="box-sizing: border-box;">
<tr style="box-sizing: border-box;">
<td style="box-sizing: border-box; text-align: center; height: 40px; color: #121212;">PT Bank Mandiri (Persero) Tbk.</td>
<td style="box-sizing: border-box; text-align: center; height: 40px; color: #121212;">767.488.261</td>
<td style="box-sizing: border-box; text-align: center; height: 40px; color: #121212;">51.077</td>
<td style="box-sizing: border-box; text-align: center; height: 40px; color: #121212;">Ya</td>
</tr>
<tr style="box-sizing: border-box; background-color: rgba(252, 209, 22, 0.1);">
<td style="box-sizing: border-box; text-align: center; height: 40px; color: #121212;">PT Taspen (Persero)</td>
<td style="box-sizing: border-box; text-align: center; height: 40px; color: #121212;">727.509.225</td>
<td style="box-sizing: border-box; text-align: center; height: 40px; color: #121212;">48.416</td>
<td style="box-sizing: border-box; text-align: center; height: 40px; color: #121212;">Ya</td>
</tr>
<tr style="box-sizing: border-box;">
<td style="box-sizing: border-box; text-align: center; height: 40px; color: #121212;">IB Made Putra Jandjana</td>
<td style="box-sizing: border-box; text-align: center; height: 40px; color: #121212;">7.617.432</td>
<td style="box-sizing: border-box; text-align: center; height: 40px; color: #121212;">0.507</td>
<td style="box-sizing: border-box; text-align: center; height: 40px; color: #121212;">Tidak</td>
</tr>
<tr style="box-sizing: border-box; background-color: rgba(252, 209, 22, 0.1);">
<td colspan="4" class="bg-white" style="box-sizing: border-box; text-align: center; height: 40px; color: #121212; background-color: #ffffff !important;">&nbsp;</td>
</tr>
</tbody>
<tbody style="box-sizing: border-box;">
<tr class="footer" style="box-sizing: border-box;">
<td class="footer" style="box-sizing: border-box; text-align: center; height: 50px; color: #0f2b5b; font-weight: bold; background-color: #d0d8e6; border-radius: 0px 0px 0px 16px;">Jumlah</td>
<td class="footer" style="box-sizing: border-box; text-align: center; height: 50px; color: #0f2b5b; font-weight: bold; background-color: #d0d8e6;">1.502.614.918</td>
<td class="footer" style="box-sizing: border-box; text-align: center; height: 50px; color: #0f2b5b; font-weight: bold; background-color: #d0d8e6;">100.00</td>
<td class="footer" style="box-sizing: border-box; text-align: center; height: 50px; color: #0f2b5b; font-weight: bold; background-color: #d0d8e6; border-radius: 0px 0px 16px;">-</td>
</tr>
</tbody>
</table>
</div>
