<div class="container">
<h4 id="img-struktur-organisasi" style="color:#0F2B5B;">Struktur Organisasi</h4>
<p  class="mb-5"><small>Berikut adalah struktur organisasi per tanggal 6 Mei 2020</small></p>
</div>

<div class="container mb-5 text-center">
    <h3 style="color:#0F2B5B; font-weight:bold; padding-bottom:45px;">Struktur Organisasi PT Bank Mandiri Taspen</h3>
    <img id="img-struktur-organisasi" src="{{ asset('asset/strukturorganisasi.png') }}" class="responsive">
</div>
<br/>
<div class="container mb-5">
<button class="btn btn-sm mr-1" style="background: #0F2B5B 0% 0% no-repeat padding-box;border-radius: 5px; height: 20px;">&nbsp;</button><small class="mr-3"> Directorat</small>
<button class="btn btn-sm mr-1" style="background: #FCD116 0% 0% no-repeat padding-box;border-radius: 5px; height: 20px;">&nbsp;</button><small class="mr-3"> SEVP</small>
<button class="btn btn-sm mr-1" style="background: #94C9EF 0% 0% no-repeat padding-box;border-radius: 5px; height: 20px;">&nbsp;</button><small class="mr-3"> Division</small>
<button class="btn btn-sm mr-1" style="background: #FFFFFF 0% 0% no-repeat padding-box;border-radius: 5px; height: 20px; border: 1px solid #75B2DD;">&nbsp;</button><small class="mr-3"> Unit/TEam</small>
</div>
